/*Är det här rätt sätt att använda sig av visually hidden?
För med en mixin kan jag väl anropa där jag vill använda just denna kod. Tänkte
att det kunde vara bättre än att behöva skriva om all kod ifall jag vill använda
på flera ställen. eller har jag missuppfattat?*/

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

/*Menu*/

nav{
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}

.menuLinks{
    width: 100%;
    display: none;
    
}

.menuLinks.active{
    display: flex;
}

.menuLinks ul{
    margin: 0;
    padding: 0;
    width: 100%;
    li{
        list-style-type: none;
        text-align: center;
        &:hover{
            background-color: rgb(71, 70, 70);
        }
        a{
            color: #fafafa;
            text-decoration: none;
            padding: 0.5rem 1rem;
            display: block;
            font-family: 'Libre Baskerville', serif;
            font-size: 1.3rem;
            font-weight: 300;
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }
}

.menuText{
    font-family: 'Libre Baskerville', serif;
    color: #fafafa;
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 10px;
}

/*Menu button*/

button{
    background-color: transparent;
    position: absolute;
    border: 0;
    top: 2px;
    right: 1rem;
    height: 45px;
    width: 45px;
}

span{
    display: block;
    height: 3.3px;
    width: 40px;
    background-color: #fafafa;
    margin-bottom: 5px;
    border-radius: 3px;
}

/*H tags + p*/

h1, h2, h3, h4{
    text-align: center;
}

h1, h2, h3, h4, p, a, .progressBar{
    font-family: 'Libre Baskerville', serif;
    color: #171717;
}

h3{
    font-size: 1.2rem;
}

h4{
    font-size: 1rem;
}

p{
    font-weight: 200;
    font-size: 0.9rem;
}

/*Aside*/
aside{
    background-color: #cecece;
    margin-top: 3.5em;
    padding: 10px;

    .progressBar
    {
        width: 80%;
        margin: 0 auto;
        p{
            margin: 0;
        }
    }

    progress{
        width: 11em;
        height: 1.6em;
        accent-color: #28283b;
    }
}


/*Section*/
section{
    background-color: #cecece;
    margin-top: 10px;
    padding: 10px;

    ul li{
        font-family: 'Libre Baskerville', serif;
        font-size: 0.8rem;
        margin: 3px;
    }

    h3{
        font-size: 1.5rem;
    }
}

/*Footer*/
footer{
    background-color: #cecece;
    padding: 15px;
    margin-top: 10px;
}