body{
    background-color: beige;
}

nav{
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100%;

    .menuLinks{
        display: block;
        ul{
            display: flex;
            justify-content: flex-end;
            li{
                display: block;
    
                a{
                    padding: 1rem;
                }
            }
        }
    }
}

button{
    display: none;
}

.container{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 3fr;
    row-gap: 20px;
    column-gap: 20px;
}

section{
    grid-column: 2;
}

aside{
    grid-column: 1;
    grid-row: 1;
    margin-top: 5em;
}

footer{
    grid-column: span 2;
}