body{
    background-color: beige;
}

nav{
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100%;

    .menuLinks{
        display: block;
        ul{
            display: flex;
            justify-content: center;
            li{
                 display: block;
                 margin: 5px;
    
                 &:hover{
                    background: none;
                 }

                a.underline{
                    padding: 1rem;
                    position: relative;

                    &::after{
                        content:'';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2.7px;
                        bottom: 10px;
                        left: 0;
                        background-color: #fafafa;
                        transform-origin: bottom right;
                        transition: transform 0.3s ease-out;
                    }

                    &:hover:after{
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }

            }
        }
    }
}

button{
    display: none;
}

.container{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 3fr;
    row-gap: 20px;
    column-gap: 20px;
}

section{
    grid-column: 2;
}

aside{
    grid-column: 1;
    grid-row: 1;
    margin-top: 5em;
}

footer{
    grid-column: span 2;
}