@use "variables" as var;

@mixin visuallyHidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin RemoveVisuallyHidden{
    position: unset;
    width: unset;
    height: unset;
    margin: unset;
    border: unset;
    padding: unset;
  
    white-space: unset;
    clip-path: unset;
    clip: unset;
    overflow: unset;
}

nav{
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100%;

    .menuLinks{
        @include RemoveVisuallyHidden();

        ul{
            display: flex;
            justify-content: flex-end;
            li{
                 display: block;
                 margin-right: 5px;
    
                 &:hover{
                    background: none;
                 }

                a.underline{
                    margin-right: 5px ;
                    position: relative;
                    font-size: 1.1rem;

                    &::after{
                        content:'';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2.7px;
                        bottom: 6px;
                        left: 0;
                        background-color: var.$whiteTextColor;
                        transform-origin: bottom right;
                        transition: transform 0.3s ease-out;
                    }

                    &:hover:after{
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }

            }
        }
    }
}

.menuText{
    font-size: 1.1rem;
    min-width: fit-content;
    margin-bottom: 20px;
}

button{
    @include visuallyHidden();

}

main{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 3fr;
    row-gap: 20px;
    //column-gap: 40px;
    width: 95%;
    margin: 0 auto;
}

aside{
    grid-column: 1;
    grid-row: 1;
    margin-top: 5em;
    padding: 2em;

    .centeredAside{
        width: 80%;
    }

    img{
        max-width: 85%;
    }
}

section{
    grid-column: 2;
    margin-top: 5em;

    h3{
        font-size: 1.5rem;
    }
}

.Bottomborder::after{
    width: 30%;
}

.centered{
    width: 60%;
}