body{
    background-color: beige;
}

nav{
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100%;

    .menuLinks{
        display: block;
        ul{
            display: flex;
            justify-content: flex-end;
            li{
                 display: block;
    
                 &:hover{
                    background: none;
                 }

                a.underline{
                    margin-right: 5px ;
                    position: relative;
                    font-size: 1.1rem;

                    &::after{
                        content:'';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2.7px;
                        bottom: 8px;
                        left: 0;
                        background-color: #fafafa;
                        transform-origin: bottom right;
                        transition: transform 0.3s ease-out;
                    }

                    &:hover:after{
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }

            }
        }
    }
}

.menuText{
    font-size: 1.1rem;
    min-width: fit-content;
    margin-bottom: 20px;
}

button{
    display: none;
}

//Märkte att du nämnde under lektionen att standard är 12 rutor för gridlayout för desktop. 
//Tycker du att jag bör ändra min layout så den ser ut som du pratade om?

main{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 3fr;
    row-gap: 20px;
    column-gap: 40px;
    width: 90%;
    margin: 0 auto;
}


section{
    grid-column: 2;
    margin-top: 5em;
}

aside{
    grid-column: 1;
    grid-row: 1;
    margin-top: 5em;
}

