body{
    background-color: beige;
}

.container{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 3fr;
    row-gap: 20px;
    column-gap: 20px;
}

main{
    grid-column: 2;
}

aside{
    grid-column: 1;
    grid-row: 1;
}

footer{
    grid-column: span 2;
}