aside, section{
    width: 90%;
    margin: 0 auto;
}

aside{
    margin-top: 4em;

    .centeredAside{
        width: 57%;
        margin: 0 auto;
    }
}

.bottomBorder{
    width: 55%;
}

section{
    margin-top: 20px;
}

.centered{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.footerBorder{
    width: 65%;
}


