aside, section{
    width: 90%;
    margin: 0 auto;
}

aside{
    margin-top: 4em;
}

img{
    max-width: 45%;
}

section{
    margin-top: 20px;
}

.centered{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 25px;
}