aside, section{
    width: 75%;
    margin: 0 auto;
}

aside{
    margin-top: 4em;

    .centeredAside{
        width: 50%;
    }

    img{
        width: 80%;
    }
}

section{
    margin-top: 20px;
}

.bottomBorder::after{
    width: 40%;
}

footer{  
    .footerFlexbox{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
